name: latest check
on:
  schedule:
    - cron: '0 * * * *'
  workflow_dispatch:

jobs:
  check:
    runs-on: ubuntu-slim
    steps:
    - uses: actions/checkout@v4
    - run: |
        ./run.sh darwin-universal darwin.csv
        ./run.sh win32-x64 windows.csv
    - name: commit
      run: |
        if ! git diff --exit-code --quiet
        then
          git add .
          git config user.name github-actions
          git config user.email 1955233+yamachu@users.noreply.github.com
          git commit -m "New versions released"
          git push origin HEAD
        fi
